<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="css/style.css">
  <title>Homepage</title>
</head>
<%- include("../includes/header.ejs") %>
  <div class="wrapper">
    <%- include("../includes/flash.ejs") %>
      <%- body -%>
  </div>
  <script src="js/script.js"></script>
  </body>

</html>