<% layout('layouts/boilerplate') -%>
<div>
<h2>VERSION 1.0.0</h2>
 	<hr>
	<h2>We are just a bunch of Enthusiastic people,who wants to help The Society.</h2>
	<hr>
 	<h2>Our Creator Team:</h2>
 	<hr>
 	<ul class="td">
		<li>Aditya Gitte</li>
		<li>Vaishnavi Ghumare</li>
		<li>Stavan Kapgate</li>
 		<li>Mansi Khod</li>
  	</ul>
	<hr>
	<p class="td">Thank you, For visiting our website</p>
</div>