<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../css/error.css">
    <title>Homepage</title>
    
</head>

<body>


    <div class="heading">

        <h1 align=center>Audio To Sign Language Tool</h1>
    </div>
    <br>

    <div class="wrapper">
        <p class="status">

            <%= status%>

        </p>
        <p class="message">
            <%= message %> &#128543
        </p>
        <a href="/home"><button class="button">Go to home page</button></a>
    </div>
    <script src="js/script.js"></script>
</body>

</html>