<% layout('layouts/boilerplate') -%>
<div class="form-style">
	<h1>Log in</h1>
	<form class="site-form" action="/login" method="post">
		<div >
			<label for="username" class=" col-form-label">Username :</label>
			<div >
				<input type="text" class="form-control" id="username" name="username" required>
				<div class="invalid-feedback">Please enter valid username</div>
			</div>
		</div>
		
		<div>
			<label for="password" class="form-label">Password :</label>
			<div>
				<input type="password" class="form-control" id="password" name="password" required>
				<div class="invalid-feedback">Please enter valid username</div>
			</div>
		</div >
		<br>
		<input class="submit" type="submit" value="Log in">
	</form>
</div>