<% layout('layouts/boilerplate') -%>

<div class="form-style">
	<h1>Sign Up</h1>
	<form class="site-form" action="/signup" method="post">
		<!-- {% csrf_token %}
		{{ form }} -->
		<div >
			<label for="username" >Username :</label>
			<div >
				<input type="text" id="username" name="username" required>
				<div class="invalid-feedback">Please enter valid username</div>
			</div>
		</div>
		<div >
			<label for="email" >Email :</label>
			<div>
				<input type="email"  id="email" name="email" required>
				<div class="invalid-feedback">Please enter valid username</div>
			</div>
		</div>
		<div>
			<label for="password" >Password :</label>
			<div>
				<input type="password" id="password" name="password" required>
				<div class="invalid-feedback">Please enter valid username</div>
			</div>
		</div >
		
		<br>
		<input class="submit" type="submit" value="Sign Up">

	</form>
</div>
<script type="text/javascript">
	document.getElementsByTagName("span")[0].innerHTML="";
	document.getElementsByTagName("span")[1].innerHTML="";
</script>